@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --charcoal-grey: hsl(235, 18%, 26%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --grey: hsl(231, 7%, 60%);
  --primary-tomato: hsl(4, 100%, 67%);
  --primary-tomato-light: hsla(4, 100%, 67%, 0.2);
  --primary-reddish: hsl(354, 100%, 67%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--charcoal-grey);
}

.illustration {
  background-image: url('assets/illustration-sign-up-desktop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:100%;

}
.illustration-mobile {
  background-image: url('assets/illustration-sign-up-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;

}
.success-icon {
  background-image: url('assets/icon-success.svg');
  background-size: contain;
  background-repeat: no-repeat;

}

.errorInput{
  background-color: var(--primary-tomato-light);
  color: var(--primary-tomato);
  border: 1px solid var(--primary-tomato);
}
.errorInput:focus{
  outline-color: var(--primary-tomato);
}